body {
	margin: 0;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.container .cover-image {
	width: auto;
	height: 100vh;
}

/* modal  */
.openModal {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 47.5%;
	height: 7.9%;
	right: 4%;
	top: 45.3%;
	z-index: 100;
	cursor: pointer;
	border-radius: 64px;
}

.modal img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 300;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal {
	position: absolute;
	width: 6%;
	height: 11%;
	z-index: 1000;
	top: 83%;
	right: 5%;
	cursor: pointer;
}

/* modal  */
.openModal1 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 47.5%;
	height: 7.9%;
	right: 4%;
	top: 56.1%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal1 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 67;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal1 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 9%;
	right: 7%;
	cursor: pointer;
}

/* modal  */
.openModal2 {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 47.6%;
	height: 7.9%;
	right: 3.9%;
	top: 77.6%;
	z-index: 100;
	cursor: pointer;
	border-radius: 60px;
}

.modal2 img {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 67;
	display: block;
	left: 0%;
	top: 0%;
}

.closeModal2 {
	position: absolute;
	width: 5%;
	height: 10%;
	z-index: 1000;
	top: 9%;
	right: 7%;
	cursor: pointer;
}

/* animacion caja */
.reboteIn_abajo {
	animation: reboteIn_abajo 3s;
}

/* Creamos la animación ReboteIn desde Abajo (con keyframes) */

@keyframes reboteIn_abajo {
	0% {
		opacity: 0;
		transform: translateY(148px);
	}

	50% {
		transform: translateY(-30px);
		opacity: 1;
	}

	70% {
		transform: translateY(10px);
	}
}

/* Responsive */
@media (max-width: 1365px) and (min-height: 768px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: auto;
		height: 100vh;
	}
}

@media (max-height: 767px) {
	.container {
		width: auto;
		height: 100vh;
	}
}

@media (max-width: 767px) {
	.seccion-video1 img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
	}
}

@media (min-height: 625px) and (max-height: 1280px) and (max-width: 1024px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}

@media (max-height: 624px) and (max-width: 767px) {
	.container {
		width: 100vw;
		height: auto;
	}

	.container .cover-image {
		width: 100vw;
		height: auto;
	}
}
